a.btn:any-link:not([class="bg-*"]) {
  color: var(--purple) !important;
}

a.btn:any-link:not([class="bg-*"])::after {
  background-color: var(--purple) !important;
}

#namesake {
  height: auto;
  max-height: 700px;
  width: auto;
  right: 0;
  position: relative;
}

#namesake.framed.angles {
  filter: grayscale() brightness(120%) contrast(120%);
}

.hero-wrapper {
  overflow: hidden;
}

.hero-wrapper.original::before {
  content: url("https://futureproof-protected-assets.s3.eu-west-2.amazonaws.com/brand-assets/shapes/angles-violet-555.png");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 0;
  animation: rotation 90s linear infinite;
  width: fit-content;
  height: fit-content;
  z-index: -1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg) scale(1.2);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}

.hero-wrapper.filtered::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80vh;
  background: #3c2157;
  background: radial-gradient(
    circle,
    rgba(182, 162, 255, 0.6) 0%,
    rgba(182, 162, 255, 0.3) 40%,
    rgba(60, 33, 87, 0.5) 50%,
    rgba(60, 33, 87, 1) 70%,
    rgba(60, 33, 87, 1) 100%
  );
  opacity: 0.6;
}

#namesake[alt="What our clients say"] {
  border: none;
}

.header-text-container .btn {
  margin: 5px 0;
}

header #logo {
  align-self: center;
  cursor: pointer;
  height: 40px;
}

/* Media queries */
@media only screen and (max-width: 1300px) {
  .header-wrapper {
    padding: 0 calc((100vw - 1024px) / 2);
  }
}

@media only screen and (max-width: 1090px) {
  .header-wrapper {
    padding: 0 calc((100vw - 816px) / 2);
  }
}

@media only screen and (max-width: 880px) {
  .header-wrapper {
    padding: 0 calc((100vw - 608px) / 2);
  }
}

@media only screen and (max-width: 650px) {
  .header-wrapper {
    padding: 0 calc((100vw - 336px) / 2);
  }
}
