/* header {
  display: flex !important;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100vw;
  padding: 0 calc((100vw - 1232px) / 2);
  position: relative;
  justify-content: space-between;
  align-content: center;
} */

/* .header-text-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  white-space: 'pre-line';
} */

a.btn:any-link:not([class="bg-*"]) {
  color: var(--purple) !important;
}

a.btn:any-link:not([class="bg-*"])::after {
  background-color: var(--purple) !important;
}

#namesake {
  height: 40vh;
  max-height: 50vw;
  /* width: 80%; */
  width: auto;
  /* border: 1px solid var(--fp-opacity); */
  /* box-shadow: -1px 1px 5px 1px var(--fp-grey-medium); */
  cursor: pointer;
  right: 0;
  position: relative;
  /* filter: invert(14%) sepia(24%) saturate(3013%) hue-rotate(240deg) brightness(98%) contrast(96%); */
  /* filter: invert(70%) sepia(55%) saturate(3161%) hue-rotate(206deg) brightness(106%) contrast(103%); */
}

#namesake.framed.angles {
  filter: grayscale() brightness(120%) contrast(120%);
}

.hero-wrapper.filtered::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40vh;
  background: #3c2157;
  /* background: radial-gradient(circle, rgba(182,162,255,0.8) 0%, rgba(60,33,87,0.5) 60%, rgba(60,33,87,1) 100%); */
  background: radial-gradient(circle, rgba(182,162,255,0.6) 0%, rgba(182,162,255,0.3) 40%, rgba(60,33,87,0.5) 50%, rgba(60,33,87,1) 70%, rgba(60,33,87,1) 100%);
  opacity: 0.6;
}

#namesake[alt="What our clients say"] {
  border: none;
}

.header-text-container .btn {
  margin: 5px 0;
}

header #logo {
  align-self: center;
  cursor: pointer;
  height: 40px;
}

/* Media queries */
@media only screen and (max-width: 1300px) {
  .header-wrapper {
    padding: 0 calc((100vw - 1024px) / 2);
  }
}

@media only screen and (max-width: 1090px) {
  .header-wrapper {
    padding: 0 calc((100vw - 816px) / 2);
  }
}

@media only screen and (max-width: 880px) {
  .header-wrapper {
    padding: 0 calc((100vw - 608px) / 2);
  }
}

@media only screen and (max-width: 650px) {
  .header-wrapper {
    padding: 0 calc((100vw - 336px) / 2);
  }
  /* #namesake,
  #logo {
    height: 40px;
  } */
}
