header {
  display: flex !important;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100vw;
  padding: 0 calc((100vw - 1232px) / 2);
  position: relative;
  justify-content: space-between;
  align-content: center;
}

.hero-image-container {
  display: flex;
  justify-content: flex-end;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 60px 0 0 16px;
}

a.btn:any-link:not([class="bg-*"]) {
  color: var(--purple) !important;
}

a.btn:any-link:not([class="bg-*"])::after {
  background-color: var(--purple) !important;
}

#namesake {
  height: 40vh;
  /* width: 80%; */
  border: 1px solid var(--fp-opacity);
  /* box-shadow: -1px 1px 5px 1px var(--fp-grey-medium); */
  cursor: pointer;
  right: 0;
}

#namesake[alt="What our clients say"] {
  border: none;
}

.header-text-container .btn {
  margin: 5px 0;
}

header #logo {
  align-self: center;
  cursor: pointer;
  height: 40px;
}

/* Media queries */
@media only screen and (max-width: 1300px) {
  header {
    padding: 0 calc((100vw - 1024px) / 2);
  }
}

@media only screen and (max-width: 1090px) {
  header {
    padding: 0 calc((100vw - 816px) / 2);
  }
}

@media only screen and (max-width: 880px) {
  header {
    padding: 0 calc((100vw - 608px) / 2);
  }
}

@media only screen and (max-width: 650px) {
  header {
    padding: 0 calc((100vw - 336px) / 2);
  }
  #namesake,
  #logo {
    height: 40px;
  }
}
