#cohorts {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 380px));
    /* grid-template-columns: repeat(3, 1fr); */
    padding: 3rem;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
}

#cohorts h2 {
    width: 85vw;
}

.cohort-preview {
    /* margin: 0 30px; */
    padding: 0 30px;
    position: relative;
    /* width: 200px; */
    height: 200px; 
    /* padding: 18% 10% 62% 10%; */
    /* padding: 1rem 2rem; */
    font-size: 1.2rem;
    background-color: var(--fp-opacity);
    line-height: 1.5;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

}

.cohort-preview:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
    box-shadow: 5px 5px var(--fp-dark-steel);
}

.cohort-preview .date {
    font-style: italic;
    font-size: 0.9em;
    background-color: red;
}

.cohort-preview span {
    display: block;
    margin: 5px 0px;
    padding: 10px 20px;

    white-space: pre-line;
    transform: translateY(-14px);

}

/* @media only screen and (orientation: portrait) {
    #cohorts {
        grid-template-columns: repeat(2, 1fr);
    }

    .cohort-preview {
        font-size: 2rem;
    }
} */

@media only screen and (max-width: 1040px) and (orientation: landscape) {
    .cohort-preview {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    #cohorts {
        /* background-color: yellow; */
        /* grid-template-columns: repeat(2, minxmax(200px, 1fr)); */
        grid-template-columns: repeat(3, 1fr);
    }

    .cohort-preview span {
        display: block;
        /* margin: 10px 50px; */
        padding: 10px 20px;
    }
}