@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

#cohorts {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
  row-gap: 3rem;
}

#cohorts h2 {
  width: 85vw;
}

h1, h2, h3 {
  font-family: 'Work Sans', sans-serif !important;
}

.cohort-preview {
  margin: 0 auto;
  position: relative;
  width: 80%;
  height: 0;
  padding: 18% 10% 62% 10%;
  font-size: 1.2rem;
  background-color: var(--fp-opacity);
  transition: all 0.3s;
}

.cohort-preview:hover {
  transform: translateY(-10px);
  transition: all 0.3s;
  box-shadow: 5px 5px var(--fp-dark-steel);
}

.cohort-preview .date {
  font-size: 0.9em;
}

.cohort-preview span.name {
  /* font-family: " Screamer Legacy"; */
  font-family: "Work Sans" !important;
  font-size: 1.3em;
}

.cohort-preview span {
  display: block;
  margin: 10px 0;
  white-space: pre-line;
}

@media only screen and (orientation: portrait) {
  #cohorts {
    grid-template-columns: repeat(2, 1fr);
  }

  .cohort-preview {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1040px) and (orientation: landscape) {
  .cohort-preview {
    font-size: 1rem;
  }
}
