#cohorts {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 380px));
    padding: 3rem;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}

#cohorts h2 {
    width: 85vw;
}

.cohort-preview {
    padding: 0 30px;
    position: relative;
    height: 200px; 
    font-size: 1.2rem;
    background-color: var(--fp-opacity);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.cohort-preview:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
    box-shadow: 5px 5px var(--fp-dark-steel);
}

.cohort-preview .date {
    font-style: italic;
}

.cohort-preview span {
    display: block;
    margin: 5px 0px;
    padding: 10px 20px;
    white-space: pre-line;
}

@media only screen and (max-width: 1040px) and (orientation: landscape) {
    .cohort-preview {
        font-size: 1.05rem;
    }
}

@media only screen and (max-width: 1200px) {
    #cohorts {
        grid-template-columns: repeat(3, 1fr);
    }

    .cohort-preview span {
        display: block;
        padding: 10px 20px;
    }
}


@media only screen and (max-width: 880px) {
    .cohort-preview span {
        display: block;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 651px) {
    #cohorts {
        grid-template-columns: repeat(2, minmax(180px, 250px));
        grid-gap: 0.8rem;
    }
    
    .cohort-preview {
        line-height: 1.35;
        font-size: 1.1rem;
        padding: 0;

    }

    .cohort-preview span {
        padding: 5px 5px;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 477px) {
    #cohorts {
        grid-template-columns: repeat(2, minmax(180px, 250px));
        grid-gap: 0.5rem;
        padding: 0rem;
    }
}