#contact-btn {
    width: 30%;
    height: 2.5em;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 0 15px;
}