/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&family=Work+Sans:wght@300&display=swap"); */
/* font-family: 'Quicksand', sans-serif; */
@font-face {
  font-family: "FKScreamerS3";
  font-weight: 1 1000;
  src: url("https://futureproof-protected-assets.s3.eu-west-2.amazonaws.com/brand-assets/fonts/FKScreamerLegacy-Upright.ttf");
}
@font-face {
  font-family: "WorkSansS3";
  font-weight: 1 1000;
  src: url("https://futureproof-protected-assets.s3.eu-west-2.amazonaws.com/brand-assets/fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "WorkSansItalicS3";
  font-weight: 1 1000;
  src: url("https://futureproof-protected-assets.s3.eu-west-2.amazonaws.com/brand-assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
}

/* Variables */
:root {
  --squareSizeLarge: 200px;
  --squareSizeSmall: 200px;
  --fp-opacity: rgba(255, 255, 255, 0.3);
}

.Toastify__toast {
  border: 1px solid var(--fp-accent-cherry);
}

* {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0;
  text-align: center;
}

main {
  margin: 20px 0;
  padding-bottom: 30vh;
  /* background-color: ; */
  /* background: url("https://futureproof-public-documents.s3.eu-west-2.amazonaws.com/futureproof-stars.jpg"); */
  /* background-size: cover; */
  /* color: white; */
  /* min-height: 80vh; */
}

main a {
  color: white;
  text-shadow: 0.5px 0.5px var(--fp-accent-cherry);
  text-decoration: none;
}

main a:hover {
  text-decoration: dotted;
}

code {
  background-color: yellow;
}

.italic {
  transform: var(--fp-custom-italic);
  -webkit-transform: var(--fp-custom-italic);
}

.name {
  text-transform: capitalize;
}

.btn {
  cursor: pointer;
  transition: all 0.8s;
  box-shadow: 5px 5px var(--fp-dark-steel);
}

.btn:hover {
  transform: translate(5px, 5px);
  transition: all 0.05s;
  box-shadow: 1px 1px var(--fp-dark-petrol);
}

#back-btn {
  position: relative;
  display: inline-block;
  top: 5px;
  margin-right: 10px;
  font-size: 2em;
  border-radius: 50%;
  padding: 0 10px;
}
