footer {
    position: fixed;
    margin: auto;
    width: 100vw;
    background: rgba(255, 255, 255, 0.9);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.8) 70%, rgba(255,255,255,0) 100%);
    z-index: 6;
    height: calc(15vh + 50px);
    transition: bottom 1s ease-out;
}

footer.visible {
    bottom: 0;
}

footer.hidden {
    bottom: -40vh;
}

footer a,
footer a:visited,
footer a:focus {
    color: var(--fp-main-aubergine);
    text-decoration: none;
    text-align: center;
}

footer a:hover {
    color: var(--fp-accent-plum);
}